<header class="site-header">

    <div class="wrapper">

        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
        <a rel="author" href="{{ "/" | relative_url }}">
            <img id="header-img" src="/img/teddybear.gif" alt="" height="95">
        </a>
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        {%- if titles_size > 0 -%}
        <nav class="site-nav">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger">
                <span class="menu-icon">
                    <svg viewBox="0 0 18 15" width="18px" height="15px">
                        <path
                            d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z" />
                    </svg>
                </span>
            </label>

            <div class="trigger">
                <ul id="main-nav">
                    <li>
                        <a href='/om/'>Om Bullret</a>
                        <ul class="dropdown">
                            <li><a href="/om/">Om Bullret</a></li>
                            <li><a href="/om/varfor">Varför Bullret</a></li>
                            <li><a href="/om/oppet-hus">Öppet hus</a></li>
                            <li><a href="/om/pedagogik">Pedagogik</a></li>
                            <li><a href="/om/rutiner">Rutiner</a></li>
                            <li><a href="/om/personal">Personal</a></li>
                            <li><a href="/om/tyra">Tyra</a></li>
                            <li><a href="/treskablinoll/">Tre ska bli noll</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/kooperativ/">Kooperativ</a>
                        <ul class="dropdown">
                            <li><a href="/kooperativ/">Kooperativ</a></li>
                            <li><a href="/avgifter/">Avgifter</a></li>
                            <li><a href="/kooperativ/fixardag/">Insatser och fixardag</a></li>
                        </ul>
                    </li>
                    <li><a href="/kontakt/">Kontakt</a></li>
                    <li><a href="/intresse/">Ansökan</a></li>
                    <li><a href="/jobb/">Jobb</a></li>
                </ul>
            </div>
        </nav>
        {%- endif -%}
    </div>

    <div id="treskablinoll">
      <a href="/treskablinoll/">
        <img src="/img/treskablinoll.png" alt="Tre ska bli noll" />
      </a>
    </div>
</header>
